<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="30">
  {{template "_head.gohtml" .Title}}
</head>
<body role="document">
  {{template "_nav.gohtml" .Nav}}
  <div class="container">
    {{range .Messages}}
      <div class="alert alert-danger" role="alert">{{.}}</div>
    {{end}}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Welcome to my web app!</h1>   
      </div>
    </div>
  </div>
</div> <!-- /container -->
    {{template "_footer.gohtml"}}
</body>
</html>
